@import 'setup';

h1 {
    font-size: 5rem;
}
.container {
    width: 100%;
    margin-bottom: 100px;;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    background-color: #262931;
    border-radius: 7px;
}
.card {
    float: left;
    margin: 10px;
    width: 150px;
    height: 250px;
    background: #b86b69;
    border-radius: 7px;
    opacity: 0.8;
    overflow: hidden;
}

.card:hover {
    border: 3px solid black;
}
img {
    width: 97%;
    border: 8px solid #b6aea8;

}

@import 'responsive';